<a href="https://colab.research.google.com/github/davidnene/gitbasics/blob/master/COD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def outer_func(a, b):
  def inner_func(c, d):
    return c+d
  return inner_func(a, b)


result = outer_func(10, 19)
print(result)

29

In [ ]:
print([i for i in range(1, 300) if i % 3 == 0])

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297]

In [ ]:
class Person:
  def _init_(self,name):
    self.name = name


  def person_details(self):
    print(self.name)

obj=Person()
obj.person_details()

AttributeError: ignored

In [ ]:
import re
def find_date(text: str) ->str:
  pattern = "\d"
  date = re.findall(pattern, text)
  return date

print(find_date('I saw her on the 15th JUNE 2021'))

['1', '5', '2', '0', '2', '1']

In [ ]:
print(re.split("(10)+", "I am going to be 10x more efficient"))

['I am going to be ', '10', 'x more efficient']

In [ ]:
def transformer(n):
  def multiplier(x):
    return n * x**2 + n**2 * x +1
  return multiplier

polyt = transformer(2)
print(polyt(3))

31

In [ ]:
def print_dict(**kwargs):
  for i in kwargs:
    print(i)

print_dict(emp="Brian", salary=10000)

emp
salary

In [ ]:
class Applicant():

  def _init_(self,shool_name):
    self.school_name = school_name

  def hello_student(self, name=None):
    #greet a student
    if name  is None:
      msg = " Welcome to %s! This is Python Class: %s "
      print(msg % (self.school_name, self._class_._name_))
    else:
      ms = 'Hello applicant %s to %s! This is python class: %s'
      print(msg % (name, self.school_name, self._class_._name_))

class Training(Applicant):
  def _init_(self,name):
    super()._init_(name)

s = Training('10 Academy')
s.hello_student()

TypeError: ignored

In [ ]:
a = map(str, [10, 11])
print(list(a), type(a))

['10', '11'] <class 'map'>

In [ ]:
import re

def sum_numbers(sentence):
  pattern = "\d"
  numbers = re.findall(pattern, sentence)
  total = 0

  for i in numbers:
    total += float(i)

  return total

print(sum_numbers("I have 12 A's 16 B's and 10 C's"))

11.0

In [ ]:
#2
def integer_generator(limit):
  n = 0
  while n < limit:
    n += 1
    yield n

int_gen = integer_generator(10)
print(list(int_gen))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]